<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de contatos</title>
    <link rel="stylesheet" href="/style/car-rent.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="static/style/navbar/navbar.css">
    <link rel="stylesheet" href="static/style/car-rent.css">
</head>
<body>
    <nav id="navbar">

        <div class="logo">
            <a href="index"><img src="static/img/logo-navbar.png" alt="" id="logo-navbar"></a>
        </div>

        <div class="options">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SOBRE</a></li>
                <li><a href="#">ALUGUEL</a></li>
                <li><a href="car-rent"><button id="btncadastre">CADASTRE</button></a></li>
            </ul>
        </div>

        <div class="burguer" onclick="toggleSidebar()">
            <i class="fa-solid fa-bars nav-icon"></i>
        </div>   
    </nav>

    <main id="content">

        
        <div class="content-title">
            <h1>Cadastre seu veículo</h1>
            <p class="sub-title">Adicione as informações e valores do seu veículo</p>
        </div>
        

        <section id="box-form">

            <form id="formAdd">

                <div class="form-content">
                    <div class="input-wrapper">
                        <label for="marca">Insira a marca do veículo</label>
                        <input type="text" name="marca" id="marca" placeholder="Ex: Fiat">
                    </div>
                    <div class="input-wrapper">
                        <label for="modelo">Insira o modelo do veículo</label>
                        <input type="text" name="modelo" id="modelo" placeholder="Ex: Uno">
                    </div>
                    <div class="input-wrapper">
                        <label for="ano">Insira o ano de fabricação</label>
                        <input type="text" name="ano" id="ano" placeholder="Ex: 2018">
                    </div>
                    <div class="input-wrapper">
                        <label for="observacoes">Observações</label>
                        <textarea name="observacoes" id="observacoes" cols="30" rows="10"></textarea>
                    </div>
                    <div class="input-wrapper">
                        <label for="diaria">Insira o valor da diária do seu veículo</label>
                        <input type="text" name="diaria" id="diaria" placeholder="Ex: R$250,00">
                    </div>
                    <div class="input-wrapper">
                        <label for="status">Insira o status atual do veículo</label>
                        <select name="status" id="status">
                            <option id="default" value="disponivel">Disponível</option>
                            <option value="alugado">Alugado</option>
                            <option value="manutencao">Em manutenção</option>
                        </select>
                    </div>
                    <button class="form-submit">Cadastrar veículo</button>
                </div>
            </form>

        </section>
    
    </main>

    <section id="section-carros">
        <h1>Veículos cadastrados</h2>
        <div class="container-carros">
            <div id="cars"></div>
        </div>
    </section>
    
    


    <script src="{{url_for('static', filename='index.js')}}"></script>
    <script src="/js/navbar.js"></script>

</body>

</html>