<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="static/style/navbar/navbar.css">
    <link rel="stylesheet" href="static/style/index.css">
    <title>Fusion Cars</title>
</head>
<body>
    
    <nav id="navbar">

        <div class="logo">
            <a href="index"><img src="static/img/logo-navbar.png" alt="" id="logo-navbar"></a>
        </div>

        <div class="options">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">SOBRE</a></li>
                <li><a href="#">ALUGUEL</a></li>
                <li><a href="car-rent"><button id="btncadastre">CADASTRE</button></a></li>
            </ul>
        </div>

        <div class="burguer" onclick="toggleSidebar()">
            <i class="fa-solid fa-bars nav-icon"></i>
        </div>   
    </nav>

    

    <main id="content">
        
        <div id="info">
            <div class="info-content">
                <h1>Alugue já!</h1>
                <p>Aqui na Fusion Cars você cadastra seu veículo e tira dinheiro com isso!</p>
                <p>Adicione as informações necessárias e deixe o resto com a gente.</p>
                <a href="car-rent"><button>Cadastrar veículo</button></a>
            </div>
        </div>
        
    </main>

    <script src="static/navbar.js"></script>
</body>
</html>