@use '../aux/aux' as aux;

@include aux.resetDocument;


nav {
    display: flex;
    align-items: center;
    height: 140px;
    padding: 0 180px 0 180px;
    font-family: aux.$heebo;
    font-weight: 300;
    margin-bottom: 40px;
    .logo {
        margin-right: 55px;
        cursor: pointer;
    }
    .options {
        display: flex;
        width: 87%;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            align-items: center;
        }
        li {
            margin-right: 30px;
            a {
                color: #000;
                font-weight: 600;
                font-size: 0.9em;
            }
        }
        li:last-child {
            margin: 0;
        }
         
        #btncadastre {
            background: none;
            font-family: aux.$inter;
            font-size: 1em;
            font-weight: 600;
            color: white;
            padding: 8px 22px;
            border: none;
            margin-left: 20px;
            background-color: rgb(182, 51, 51);
            &:hover {
                cursor: pointer;
            }
        }
            
        li {
            color: #000;
        }
        img {
            width: 75px;
            border-radius: 50%;
        }
    }
    .burguer {
        display: none;
    }
    .close-sidebar{
        display: none;
    }
}

@media screen and(max-width:1265px) {
    nav {
        padding: 0 40px 0 40px;
    }
}

@media screen and(max-width:980px) {
    body {
        overflow-x: hidden;
        .burguer {
            display: block !important;
            color: rgb(182, 51, 51);
            font-size: 40px;
            position: absolute;
            right: 40px;
            z-index: 2;
        }
        .options{
            background-color: rgb(184, 107, 107);
            position: absolute;
            flex-direction: column;
            justify-content: center !important;
            top: 0;
            height: 100%;
            width: 45vw !important;
            padding: 1em 1em;
            right: -100vw;
            animation-duration: 1s;
            z-index: 1;
            ul {
                flex-direction: column;
            }
            li {
                margin-right: 0;
                margin-bottom: 8vh;
                button { 
                    margin-left: 0 !important;
                }
            }
            
        }
    }

    @keyframes showSidebar {
        from {right: -100vw;}
        to {right: 0;}
    }
    @keyframes hideSidebar {
        from {right: 0;}
        to {right: -100vw;}
    }
    
}